[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.vs/
.idea/
.vscode/

*.log
test-results*.xml
*-tests*.xml

sysinfo.txt
crashlytics-build.properties

Assets/AssetStoreTools*
Assets/StreamingAssets/aa.meta
Assets/StreamingAssets/aa/*
ServerData/
